# Canada CPI Visualization

In [2]:
# import libraries
import pandas as pd
import numpy as np

In [3]:
df_cad = pd.read_csv('./data/Canada-CPI-2018-2023.csv')
df_cad.head()

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2018-07,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.2,134.3,NaN,NaN,NaN,1
1,2018-08,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.2,134.2,NaN,NaN,NaN,1
2,2018-09,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.2,133.7,NaN,NaN,NaN,1
3,2018-10,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.2,134.1,NaN,NaN,NaN,1
4,2018-11,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.2,133.5,NaN,NaN,NaN,1

In [6]:
df_gat = pd.read_csv('./data/Ontario-CPI-2018-2023.csv')
df_gat.head()

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2018-07,Ontario,2016A000235,All-items,2002=100,17,units,0,v41691919,14.2,136.0,NaN,NaN,NaN,1
1,2018-08,Ontario,2016A000235,All-items,2002=100,17,units,0,v41691919,14.2,135.9,NaN,NaN,NaN,1
2,2018-09,Ontario,2016A000235,All-items,2002=100,17,units,0,v41691919,14.2,135.2,NaN,NaN,NaN,1
3,2018-10,Ontario,2016A000235,All-items,2002=100,17,units,0,v41691919,14.2,135.6,NaN,NaN,NaN,1
4,2018-11,Ontario,2016A000235,All-items,2002=100,17,units,0,v41691919,14.2,135.1,NaN,NaN,NaN,1